body{
	background-color:#1f2d33;
}
h1{
    color: #ffffff;
    text-align: center;
    font-family: arial;
   }
.container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.tabela{
    font-family: arial;
    color: white;
    margin-top: 9px;
    width: 92%;
   
}
th{
	border-bottom: 1px solid white;
}
tr .head{
 margin-top: 10px;
}
.content{
    background-color: #1f2d33;
    padding: 28px;
    width: 299px;
    
}
.contentph{
    
    padding: 28px;
    width: 800px;
    text-align: center;
    margin-top: 143px;
}
form{
	font-family: arial;
    color: white;
}
.caixa{

    border: none;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 283px;
    border-radius: 2px;
    padding: 4px 4px 3px 8px;
    border-bottom: 1px solid white;
    background-color: #1f2d33;
    color: white;
    font-size: 17px;;
    
}
.nasc{
	border: none;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95px;
    border-radius: 2px;
    padding: 4px 4px 3px 8px;
    border-bottom: 1px solid white;
    background-color: #1f2d33;
    color: white;
    font-size: 17px;
}
fieldset{
	    border: none;
}
.buttonsend{
    border: none;
    height: 39px;
    width: 106px;
    border-radius: 8px;
    text-align: center;
    background: #58cc5d;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.buttonsend:focus{
	box-shadow: inset 0px 0px 7px 0px black;

}
.button2{
    border: none;
    height: 39px;
    width: 106px;
    border-radius: 8px;
    text-align: center;
    background: #FF9800;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.button2:focus{
    box-shadow: inset 0px 0px 7px 0px black;

}
.button3{
   border: none;
    height: 27px;
    width: 71px;
    border-radius: 8px;
    text-align: center;
    background: #FF9800;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.buttondelete{
    border: none;
    height: 39px;
    width: 41px;
    margin: 4px;
    border-radius: 8px;
    text-align: center;
    background: #F44336;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    
}
.buttondelete:focus{
    box-shadow: inset 0px 0px 7px 0px black;

}
.button{
	text-align: right;

}
.buttonmargin{
    text-align: right;
    margin-right: 50px; 

}
.car{
    border: none;
    background-color: #1f2d33;
    color: white;
    margin: 9px 1px 21px -1px;
    border-bottom: 1px solid white;
    height: 35px;
    width: 294px;
}
.exibir{
    font-size: 17px;
    border: none;
    height: 39px;
    width: 138px;
    padding-top: 23px;
    border-radius: 8px;
    margin-top: 7px;
    text-align: center;
    background: #FF5722;
}
a .exibir {
color: red;
}
.text{
   color: #58cc5d;
}
.buttonexcluir{
    border: none;
    height: 39px;
    width: 106px;
    border-radius: 8px;
    text-align: center;
    background: #f44336;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}